.navbar {
  background-color: #0a0a0a !important;
  border-bottom: 1px solid #e5e5e529 !important;
  min-height: 75px;
}
.navbar-toggler {
  box-shadow: none;
  border: 1px solid #736f6f33;
}
.navbar-brand {
  gap: 12px;
}
.navbar-brand img {
  width: 48px;
}
.site-info span:first-child {
  font-size: 20px;
  line-height: 28px;
  color: #d4d4d4;
}
.site-info span:last-child {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #ff8904ab;
}
.navbar-nav {
  padding: 6px !important;
  border: 1px solid #262626;
}
.navbar-nav .nav-link {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--neutral-400);
  transition: all 0.3s;
}
.navbar-nav .nav-link:hover {
  color: #fff;
}
.active-link {
  background: linear-gradient(to left, var(--orange-600), var(--orange-500));
  color: #fff !important;
}
.nav-search {
  gap: 12px;
}
.nav-search .search-btn {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--neutral-500);
  width: 46px;
  height: 46px;
  transition: all 0.3s;
}
.nav-search .search-btn:hover {
  border-color: #262626;
  color: var(--orange-500);
}
.start-reading {
  background: linear-gradient(135deg, #f97316, #ea580c);
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
  padding: 16px 32px;
  transition: all 0.3s;
}
.start-reading:hover {
  transform: translateY(-2px);
}
@media screen and (max-width: 991px) {
  .navbar-nav {
    border-radius: 20px !important;
    margin-top: 20px !important;
    background-color: #161616;
  }
  .start-reading {
    width: 100% !important;
  }
  .active-link {
    background: #e8603457;
    border-radius: 12px !important;
    border: 1px solid #e863388a;
    color: navajowhite;
    color: var(--orange-500) !important;
  }
}
