.blog-hero {
  background-color: #0a0a0a;
  background-image:
    radial-gradient(circle at center, rgba(255, 115, 0, 0.15) 0%, transparent 70%),
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-image:
    radial-gradient(circle at center, rgb(255 115 0 / 6%) 0%, transparent 70%),
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size:
    100% 100%,
    40px 40px,
    40px 40px;
  width: 100%;
  padding: 80px 0;

  margin-top: 75px;
  position: relative;
}

.section-label {
  color: var(--orange-500);
  background: #f973161a;
  border: 1px solid #f973164d;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 32px;
}
.blog-hero h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 24px;
}
.blog-hero h1 span {
  color: #fa9e1e;
}
.blog-hero p {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: var(--neutral-400);
}

@media screen and (max-width: 991px) {
  .blog-hero h1 {
    font-size: 48px;
    line-height: 48px;
  }
  .blog-hero p {
    font-size: 20px;
    line-height: 28px;
  }
}
@media screen and (max-width: 767px) {
  .blog-hero h1 {
    font-size: 36px;
    line-height: 40px;
  }
}

/* blog actions */
.blog-actions {
  background-color: #0a0a0a;
  padding: 20px;
  border-bottom: 1px solid rgb(38, 38, 38);
}
.blog-btn {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding: 8px 16px;
  color: var(--neutral-400);
  border: 1px solid rgb(38, 38, 38);
  background-color: rgb(22, 22, 22);
  transition: all 0.5s;
}
.blog-btn.active {
  background: linear-gradient(to left, var(--orange-600), var(--orange-500));
  color: #fff !important;
}
.blog-btn:hover {
  border-color: #ff690087;
}
.search input {
  background-color: rgb(25 25 25);
  outline: none;
  padding-inline: 48px 20px;
  padding-block: 12px;
  border: 1px solid rgb(38, 38, 38);
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  transition: all 0.5s;
}
.search input::placeholder {
  color: var(--neutral-400);
}
.search input:focus {
  border-color: #ff690087;
}

/* blog articles */
.blog-articles {
  background-color: #0a0a0a;
  padding-block: 48px;
}
/*blog articles header  */

.section-header {
  margin-bottom: 32px;
}
.left-actions {
  display: flex;
  gap: 10px;
  background-color: #161616;
  padding: 3px 6px;
  border: 1px solid #252525;
  border-radius: 6px;
}
.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: #1c1c1c;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.icon-btn:hover {
  background: #2a2a2a;
  color: #fff;
}
.icon-btn.active {
  background: #ff6a00;
  color: #fff;
}
.right-info span {
  color: var(--orange-500);
  font-size: 16px;
  font-weight: 700;
}
.right-info p {
  color: #a1a1a1;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.right-info strong {
  color: #ff6a00;
  font-weight: 600;
}
